<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Welcome to the Database - Users</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Books</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td><%= user.password %></td>
                    <td>
                            <% user.Books.forEach(book => { %>
                             <%= book.bookname %> <br>
                            <% }); %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
